body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: whitesmoke;
    color: black;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    margin: 20px auto;
    width: 80%;
}

.question-container, .answer-container {
    display: flex;
    width: 100%;
}

.question-container {
    justify-content: space-between;
    margin: 20px 0;
}

.timer, .question, .skip {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}

.timer {
    flex: 1;
}

.question {
    flex: 2;
}

.skip {
    flex: 1;
    display: flex;
}

.skip button {
    background-color: lightseagreen;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.skip button:hover {
    opacity: 0.8;
}

.answer-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.answer-container button {
    flex: 1 1 45%;
    padding: 30px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.answer-container button:hover {
    opacity: 0.8;
}

.answer-container .red { background-color: red; }
.answer-container .blue { background-color: blue; }
.answer-container .yellow { background-color: darkgoldenrod; }
.answer-container .green { background-color: green; }

footer {
    background-color: white;
    color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.correct {
    background-color: green;
    color: #fff;
}

.incorrect {
    background-color: red;
    color: #fff;
}